{% extends "index.html" %} {% block columns %}
<div class=column id="to-do">
    <h4>To Do</h4>
    <div class=clmn-content ondrop="drop(event)" ondragover="allowDrop(event)">
        {% for card in new %}
        <div class='card' status="{{ card.status }}" boardid="{{ card.assigned_board_id }}" id="card{{ card.id }}" draggable='true' ondragstart='drag(event)'>
            <header><input id="cardTitle{{ card.id }}" class='card_title' {% if card.title %} value="{{ card.title }} {% else %} placeholder='Card Title' {% endif %}"></header><br>
            <article class='card_text'><textarea id="cardContent{{ card.id }}" class='card_content' placeholder='Card Content'>{% if card.title %}{{ card.content }}{% endif %}</textarea>
                <button id="{{ card.id }}" class='submit_content'>Save</button>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
<div class=column id="in_progress">
    <h4>In progress</h4>
    <div class=clmn-content ondrop="drop(event)" ondragover="allowDrop(event)">
        {% for card in in_progress %}
        <div class='card' status="{{ card.status }}" boardid="{{ card.assigned_board_id }}" id="card{{ card.id }}" draggable='true' ondragstart='drag(event)'>
            <header><input id="cardTitle{{ card.id }}" class='card_title' {% if card.title %} value="{{ card.title }} {% else %} placeholder='Card Title' {% endif %}"></header><br>
            <article class='card_text'><textarea id="cardContent{{ card.id }}" class='card_content' placeholder='Card Content'>{% if card.title %}{{ card.content }}{% endif %}</textarea>
                <button id="{{ card.id }}" class='submit_content'>Save</button>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
<div class=column id="done">
    <h4>Done</h4>
    <div class=clmn-content ondrop="drop(event)" ondragover="allowDrop(event)">
        {% for card in done %}
        <div class='card' status="{{ card.status }}" boardid="{{ card.assigned_board_id }}" id="card{{ card.id }}" draggable='true' ondragstart='drag(event)'>
            <header><input id="cardTitle{{ card.id }}" class='card_title' {% if card.title %} value="{{ card.title }} {% else %} placeholder='Card Title' {% endif %}"></header><br>
            <article class='card_text'><textarea id="cardContent{{ card.id }}" class='card_content' placeholder='Card Content'>{% if card.title %}{{ card.content }}{% endif %}</textarea>
                <button id="{{ card.id }}" class='submit_content'>Save</button>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
<div class=column id="review">
    <h4>Review</h4>
    <div class=clmn-content ondrop="drop(event)" ondragover="allowDrop(event)">
        {% for card in review %}
        <div class='card' status="{{ card.status }}" boardid="{{ card.assigned_board_id }}" id="card{{ card.id }}" draggable='true' ondragstart='drag(event)'>
            <header><input id="cardTitle{{ card.id }}" class='card_title' {% if card.title %} value="{{ card.title }} {% else %} placeholder='Card Title' {% endif %}"></header><br>
            <article class='card_text'><textarea id="cardContent{{ card.id }}" class='card_content' placeholder='Card Content'>{% if card.title %}{{ card.content }}{% endif %}</textarea>
                <button id="{{ card.id }}" class='submit_content'>Save</button>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}