 {% extends "index.html" %} {% block columns %}

<div class="status-container">
    <div id="todo" class="status-field" ondrop="drop(event)" ondragover="allowDrop(event)">
        <label>To Do</label><br><br>
        <div class="card" id="drag1" draggable="true" ondragstart="drag(event)">
            <header><input class="card_title" placeholder="Card Title"></header>
            <br>
            <article class="card_text">
                <textarea class="card_content" placeholder="Card Content"></textarea>
            </article>
        </div>
        <div class="card" id="drag2" draggable="true" ondragstart="drag(event)">
            <header><input class="card_title" placeholder="Card Title"></header>
            <br>
            <article class="card_text">
                <textarea class="card_content" placeholder="Card Content"></textarea>
            </article>
        </div>
    </div>
    <div id="inprogress" class="status-field" ondrop="drop(event)" ondragover="allowDrop(event)">
        <label>In progress</label><br><br>
        <div class="card" id="drag3" draggable="true" ondragstart="drag(event)">
            <header><input class="card_title" placeholder="Card Title"></header>
            <br>
            <article class="card_text">
                <textarea class="card_content" placeholder="Card Content"></textarea>
            </article>
        </div>
    </div>
    <div id="inreview" class="status-field" ondrop="drop(event)" ondragover="allowDrop(event)">
        <label>Review</label><br><br>
    </div>
    <div id="done" class="status-field" ondrop="drop(event)" ondragover="allowDrop(event)">
        <label>Done</label><br><br>
    </div>
</div>
{% endblock %}